@using System.Web.Optimization
@{
    Layout = null;
}



 <!--
    When bundling, load in this sequence:
    1) shivs and jQuery
    2) 3rd party libraries
    3) require.js
    4) your app libraries
    5) main.js 
    -->
 
    @Scripts.Render(
        "~/bundles/jquery", 
        "~/bundles/jsextlibs", 
        "~/Scripts/lib/require.js", 
        "~/bundles/jsapplibs",
        "~/bundles/jsmocks", // remove mocks for release
        "~/Scripts/main.js"
    )


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    
    <script>

        amplify.request.define('mjesta', 'ajax', {
            url: '/api/mjesta',
            dataType: 'json',
            type: 'GET'
        });

        var getSessions = amplify.request('mjesta', function(data) {
            document.write(JSON.stringify(data));
        });
       




    </script>
    

</head>
<body>
    <div>
        
    </div>
</body>
</html>
